@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root{
    --color-primary:#96151B;
    --color-primary-tint:#DA232B;
    --color-secondary:#fea82c;
    --color-secondary-tint:#FFDD68;
    --color-secondary-contrast:#FFFFFF;
    --font-primary-color:#000000;
    --font-secondary-color:#636465;
    --font-accentuate-color:#B0B1B3;
}