<div div="img">
  <center>
    <img src="../../../assets/icon/user.png" height="200px" width="200px"/>
  </center>
</div>
<div class="container">

  <!--<div class="img">
    <img src="https://icon-library.com/images/icon-login/icon-login-4.jpg"/>
  </div>-->
  <div class="login-content">
    <form [formGroup]="formGroup">
      <h2 class="title">Bienvenido</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>

        <div class="div">
          <input type="text" class="input" placeholder="Usuario" formControlName="user" />
        </div>
      </div>

      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>

        <div class="div">
          <input type="password" class="input" placeholder="Contraseña" formControlName="password" />
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="this.login()">Ingresar</button>
    </form>
  </div>
</div>