<ion-header class="text-center">
  <ion-toolbar>
    <ion-title>Notas
    </ion-title>
    <ion-button shape="round" size="small" [routerLink]="['/login']">Cerrar sesion</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="this.add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-list>
          <ion-item *ngFor="let note of datanotes">
            <ion-label [routerLink]="['/details/',note.noteid]">{{note.notetitle}}</ion-label>

            <button class="btn btn-danger" (click)="this.deletenote(note.noteid)">
              <i class="far fa-trash-alt"></i>
            </button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>